header{
    display: flex;
    justify-content: space-between;
}

ul{
    display: none;
}

 button{
    display: block;
    background-color: #2A8BED;
    color: white;
 }

.publications{
    display: grid;
}
article{
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 2%;
    background-color: lightgray;
}

 article img{
    width: 100%;
 }

 .publication{
    background-color: #2A8BED;
 }

@media only screen and (min-width: 768px){
    ul{
        display: block;
    }
    
} 