header{
    display: flex;
    justify-content: space-between;
    background-color: white;
}

ul{
    display: none;
}

button{
    display: block;
    width: 100%;
    padding: 5%;
    text-align: left;
    background-color: #2A8BED;
    color: white;
}



.publications{
    display: grid;
}
article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    padding: 2%;
    background-color: #F0F0F0;
}
.article-info{
    display: flex;
    flex-direction: column-reverse;
}

 article img{
    width: 100%;
    height: 30vh;
 }

 .publication{
    background-color: #2A8BED;
 }

@media only screen and (min-width: 768px){
    ul{
        display: block;
        list-style-type: none;
        margin-top: 0;
    }
    ul li{
        display: inline;
        padding-right: 3vw;
    }
    article{
        display: flex;
        flex-direction: row;
    }
    article img{
        width: 20%;
    }
    .articles-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .publications-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .load-more-btn{
        width: 20%;
        margin: auto;
    }
} 